*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:arial;
    background-color: #121212;
    color:white;
}
h1{
    margin:0;
}
br{
    height:0;
}
.edge{
	flex:1;
}
#test{
    font-size: 400%;
    width: 100%;
    background-color: #191919;
    display:flex;
    position: sticky;
    top:0;
    padding: 0.2% 0;
}
#test a{
	position:relative;
}
#test a img{
	position: absolute;
	max-height: 100%;
}
.quest{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top:2%;
    zoom:150%;
}
.quest h3{
    flex-flow: column wrap;
    display:flex;
    justify-content: center;
    margin:0;
    text-align: center;
}
.quest img{
    object-fit: contain;
}
.answer:hover, .answer label:hover{
    cursor: pointer;
    text-decoration: underline;
}
#buttons,#menuButtons{
    display:flex;
    justify-content: center;
    zoom:200%;
    margin-top:2%;
    gap:20px;
}
#buttons button,#menuButtons button{
    background-color:#191919;
    border:none;
    color:white;
    transition: .1s color;
    padding: 5px;
}
#buttons button:hover, #menuButtons button:hover{
    cursor: pointer;
    color: gray;
}
#buttons button:active,#menuButtons button:active{
    color:black;
}
#menuButtons{
    height: 85%;
    align-items: center;
    zoom:500%;
    flex-wrap: wrap;
}
#menuButtons button{
    padding: 3%;
}
@media screen and (max-width: 1880px){
    #menuButtons{
        zoom:400%;
    }
}
@media screen and (max-width: 1500px){
    #menuButtons{
        zoom:300%;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #cccccc; 
  }
   

::-webkit-scrollbar-thumb {
    background: #282828; 
  }

::-webkit-scrollbar-thumb:hover {
    background: #101010; 
  }
